<div class="box detail-box">
  <h2>File Details</h2>

  @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
  }

  @if (file(); as file) {
    <p><b>Name:</b> {{ file.originalFileName }}</p>
    <p><b>Type:</b> {{ file.fileType }}</p>
    <p><b>Uploaded at:</b> {{ file.uploadedAt }}</p>
    <p><b>Tags:</b>
      @for (tag of file.tags; track tag.id) {
        <span class="tag">
          {{ tag.name }}
          <button class="remove-tag" type="button"  (click)="onRemoveTagButtonClicked(tag.id)">×</button>
        </span>
      }
    </p>

    <label for="new-name">New name</label>
    <input id="new-name" type="text" [value]="newName()" (input)="onInputTyped($event, 'name')" />
    <button type="button" (click)="renameFile()">Rename</button>

    <label for="tag-name">Select or create tag</label>
    <input id="tag-name" list="tag-options" type="text" placeholder="Enter a new tag or choose one" [value]="tagName()" (input)="onInputTyped($event, 'tag')" />
    <datalist id="tag-options">
      @for (tag of tags(); track tag.id) {
        <option [value]="tag.name"></option>
      }
    </datalist>
    <button type="button" (click)="onAddTagButtonClicked()">Add tag</button>
  }

  <p><a routerLink="/files">Back to list</a></p>
</div>
